/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
a {
  color: inherit;
  text-decoration: none;
}

.category {
  padding: 20px 30px 20px;
  background-color: #ffffff;
}
.category .tt_category > li .link_tit {
  display: flex;
  padding: 5px 0;
  font-size: 14px;
  align-items: center;
}
.category .tt_category > li .link_tit img {
  margin-left: 5px;
  margin-top: -3px;
}
.category .tt_category .category_list > li {
  padding: 5px 0;
}
.category .tt_category .category_list > li .link_item {
  font-size: 14px;
}
.category .tt_category .category_list > li .link_item img {
  margin-top: -2px;
}
.category .tt_category .sub_category_list {
  border-left: 1px solid #cccccc;
  padding: 5px 0;
  padding-left: 10px;
  margin: 10px 0;
}
.category .tt_category .sub_category_list > li + li {
  margin-top: 5px;
}
.category .tt_category .sub_category_list > li .link_sub_item {
  font-size: 12px;
}
.category .tt_category .sub_category_list > li .link_sub_item img {
  margin-top: -2px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 320px;
  min-height: 100vh;
  background-color: #eeeeee;
  border-left: 1px solid #eeeeee;
}

#sidebar h1 {
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #444444;
  background-color: #ffffff;
}

#sidebar h1 a {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "NEXON Lv1 Gothic OTF Bold", sans-serif;
}

#sidebar h1 a span {
  margin-top: 30px;
}

.sidebar-switch {
  position: fixed;
  left: 20px;
  top: 20px;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 0;
  background-color: #444444;
  z-index: 999;
  transition: left 0.3s;
  cursor: pointer;
}

.sidebar-switch.on {
  left: 340px;
}

.sidebar-switch ion-icon {
  font-size: 24px;
  color: #ffffff;
}

.menu {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #444444;
}
.menu ul {
  display: flex;
  width: 100%;
  height: 100%;
}
.menu ul li {
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul li + li {
  border-left: 1px solid #888888;
}
.menu ul li a {
  color: #ffffff;
}

/*
 * MY CUSTOM CODE
 * -- START
 */
html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: "NEXON Lv1 Gothic OTF", sans-serif;
}

#wrap {
  width: 100%;
  display: flex;
}

.entry-content table:not(.hljs-ln) {
  width: 100%;
  margin-bottom: 22px;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  text-align: center;
  font-size: 0.9375em;
  line-height: 1.5714;
  color: #666;
}

.entry-content table:not(.hljs-ln) thead th {
  padding: 7px 0 11px;
  border-left: 1px solid #e6e6e6;
}

.entry-content table:not(.hljs-ln) tbody td {
  padding: 7px 0 11px;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}

pre {
  margin: 0;
}

pre code.hljs {
  font-family: "Poppins", "NEXON Lv1 Gothic OTF", monospace;
  letter-spacing: 1px;
  font-size: 12px;
  border-radius: 5px;
  padding: 15px !important;
  margin: 10px 0;
  box-shadow: 0 0 6px 0 #ddd;
  line-height: 20px;
}

.hljs-ln-line.hljs-ln-numbers {
  padding-right: 10px;
  color: #ff976d;
  text-align: right;
  width: 30px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

#content-inner {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
}

#content-inner #body {
  width: 100%;
}

#content-inner .content-title {
  width: 100%;
  height: 200px;
  background-color: #444444;
  color: white;
  display: flex;
  font-size: 64px;
  justify-content: center;
  align-items: center;
}

/* pre { padding: 10px; margin: 5px 0; max-width: 100%; overflow-x: auto; overflow-y: hidden; border: 1px solid #ddd; font: 12px/180% 'Lucida Console'; background-color: #fafafa; border-radius: 3px; } */
/*
 * MY CUSTOM CODE
 * -- END
 */
/*
 * RESPONSIVE CUSTOM CODE
 * -- START
 */
@media screen and (max-width: 1600px) {
  #content-inner {
    max-width: 960px;
  }
  #content {
    padding: 0 40px;
  }
}
@media screen and (max-width: 1080px) {
  #sidebar {
    position: fixed;
    left: -320px;
    z-index: 999;
    transition: left 0.3s;
    height: 100%;
    overflow-y: scroll;
  }
  #sidebar.on {
    left: 0;
  }
  .sidebar-switch {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*
 * RESPONSIVE CUSTOM CODE
 * -- END
 *//*# sourceMappingURL=style.css.map */